
.container{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    gap: 2;
}   



.col1{
    width: 100%;
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.cercatore{
    display: flex;
        flex-direction: column;
    background: lightgrey;
}